{% extends 'root.html' %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <h2>Try our cakes:</h2>
    <ul>
        {% for el in object_list %}
            <li>
                <a href="{% url 'cake_detail' pk=el.pk %}">{{ el.name }} ({{ el.price }}$)</a>
                {% if user.is_superuser or user.is_staff %}
                    <span>
                        <a href="{% url 'cakes_update' pk=el.pk %}"><button type="submit">Edit</button></a>
                    </span>
                    <span>
                        <a href="{% url 'cakes_delete' pk=el.pk %}"><button type="submit">Delete</button></a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'cakes_create' %}"><button type="submit">Create</button></a>
    {% endif %}
{% endblock %}
