{% extends 'root.html' %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <h2>We have such cake types:</h2>
    <ul>
        {% for el in object_list %}
            <li>{{ el.type }}</li>
            <span>
                <a href="{% url 'categories_update' pk=el.pk %}"><button type="submit">Edit</button></a>
            </span>
            <span>
                <a href="{% url 'categories_delete' pk=el.pk %}"><button type="submit">Delete</button></a>
            </span>
        {% endfor %}
    </ul>
    <a href="{% url 'categories_create' %}"><button type="submit">Create</button></a>
{% endblock %}
